<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<!-- 初识Vue:
            1.想让Vue工作，就必须创建与一个Vue实例，且要传入一个配置对象；
            2.root容器里的代码依然符合html规范，只不过混入了一些特殊的vue语法；
            3.root容器里的代码被称为【vue模板】；
            4.vue实例和容器是一一对应的；
            5.真实开发中只有一个Vue实例，并且会配合组件一起使用；
            6.{{xxx}}要写js表达式，且xxx能读到data中所有属性；
            7.一旦data中的数据发生改变，那么模板中用到该数据的地方也会自动更新；
            注意区分：js表达式 和 js代码语句
                1.表达式：一个表达式会产生一个值，可以放在任何一个需要值的地方；
                        (1).a
                        (2).a+b
                        (3).demo(1) 
                        (4).x === y?'a':'b'
                2.js语句
                        (1).if
                        (2).for
        v-bind里可以用表达式 数据只能从data流向页面
        v-model只能应用在表单类元素上（输入类元素）数据双向绑定

        vue中事件修饰符
        1.prevent 阻止默认事件
        2.stop阻止事件冒泡
        3.once 触发一次
        4.capture 捕获模式
        5.self 只有event.target是当前操作元素才触发事件
        6.passive 事件的默认行为立即执行，无修等待事件毁掉执行完毕
-->

<body>
    <!-- 
    <div id="root">
        hello {{message}}
    </div> -->

    <!-- <div id="root">
        <h1>插值语法</h1>
        <h3>你好{{message}}</h3>
        <hr>
        <h1>指令语法</h1>
        <a v-bind:href="url">111</a>
    </div> -->

    <!-- <div id="root">
        单向数据绑定：<input type="text" :value="message"><br>
        双向数据绑定：<input type="text" v-model:value="message">
    </div> -->
    <div id="root">
        <h1>人员列表</h1>
        <span v-if="student.age">年龄 <span>{{student.age}}</span></span>
        <button @click="showSth">点击显示年龄</button>
        <!-- <input type="text" v-model="keywords">
        <ul v-for="p in fill" :key="p.id">
            <li>{{p.id}}-{{p.name}}-{{p.age}}</li>
        </ul> -->
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false
        //创建vue实例
        // var v = new Vue({ //先到先得
        //     // el: '#root', 第一种写法
        //     data: {
        //         message: '北京昌平',
        //         url: 'http://www.baidu.com'
        //     }
        // })
        // console.log(v);
        // v.$mount('#root') //原型 第二种写法 挂载
        // new Vue({
        //     el: '#root',
        //     //函数式data
        //     data: function () {
        //         //data(){} 简写
        //         console.log(this) //此处this是vue实例对象 （不能使用箭头函数）
        //         return {
        //             name: '111'
        //         }
        //     }
        // })
        // MVVM
        // 1. M： model 模型 对应data中的数据
        // 2. V： View 视图 模板
        // 3. Vm： viewmodel 视图模型 Vue实例对象 view and model bind with viewModel
        // var vm = new Vue({
        //     el: root,
        //     data() {
        //         return {
        //             name: '1111'
        //         }
        //     }
        // })
        // console.log(vm);
        // 双花括号里可以拿到vm的所有东西
        //回顾Object.defineproperty方法;
        // let number = 18;
        // let person = {
        //     name: '张三'
        // };
        // console.log(person)
        // Object.defineProperty(person, 'age', {
        //     // value: 18,
        //     enumerable: true, //控制枚举
        //     Writable: true, //控制修改
        //     configurable: true, //控制属性是否可以删除
        //     //当有人读取person的age属性时，get函数就会被调用，且返回的就是age的值；
        //     get: function () {
        //         return number
        //     },
        //     //当有人修改person的age属性，set函数就会被调用，且会收到修改值
        //     set: function (value) {
        //         number = value
        //     }
        // })
        //数据代理
        // let obj = {
        //     x: 100
        // }
        // let obj2 = {
        //     y: 200
        // }
        // Object.defineProperty(obj2, 'x', {
        //     get() {
        //         return obj.x
        //     },
        //     set(value) {
        //         obj.x = value
        //     }
        // })
        const vm = new Vue({
            el: '#root',
            data: {
                persons: [{
                        id: '001',
                        name: '林更新',
                        age: 21
                    },
                    {
                        id: '002',
                        name: '李大嘴',
                        age: 55
                    },
                    {
                        id: '003',
                        name: '杜晨曦',
                        age: 34
                    },
                    {
                        id: '004',
                        name: '你大爸',
                        age: 24
                    },
                ],
                keywords: '',
                fil: [],
                student: {
                    name: '11',
                    sex: 'male'
                }
            },
            methods: {
                showSth() {
                    Vue.set(this.student, 'age', '32')
                }
            },
            computed: {
                // fill() {
                //     return this.persons.filter((p) => {
                //         return p.name.indexOf(this.keywords) > -1
                //     })
                // }
            },
            watch: {
                // keywords: {
                //     immediate: true,

                //     handler(val) {
                //         setTimeout(() => {
                //             this.fil = this.persons.filter((p) => {
                //                 return p.name.indexOf(val) > -1
                //             })
                //         }, 1000);

                //     }
                // }
            }

        })
        // vue中数据代理， 通过vm对象来代理data对象中属性的操作
        // 基本原理 通过object.defineProperty() 把data对象中所有属性添加到vm上，
        // 为每一个添加到vm上的属性指定一个getter / setter
        // 在getter / setter内部去操作data中对应的属性
        //$event占位事件里的event
        // @click.prevent修饰阻止默认事件

        //计算属性与监视 
        // computed有缓存 依赖的数据发生改变 才调用get
        // 要用的属性不存在， 要通过已有的属性计算得来；
        // 原理跟双向一样
        // 优势， 缓存机制， 效率更高， 调试方便
        // 备注： 计算属性最终会出现在vm上， 直接读取使用即可
        // 如果计算属性要被修改， 必须写set函数去影响修改, 且set中要引起计算时依赖的数据发生变化

        //监视属性 watch
    </script>
</body>

</html>